<table id="items-table" class="rounded-lg min-w-[648px] sm:min-w-full h-fit text-center">
    <thead class="bg-gray-50">
        <tr class="*:py-3 *:font-medium *:tracking-wider text-gray-500">
            <th class="!w-24 ">Product</h3>
            <th>Title</h3>
            <th>Unit Price</h3>
            <th>Quantity</h3>
            <th>Subtotal</h3>
            <th>Remove</h3>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr class="*:pb-2 *:first:pt-3">
                <td class="pl-2">
                    <img src="{{item.product.get_display_image}}" alt="" class="rounded-lg object-cover h-24">
                </td>
                <td>{{item.product.name}}</td>
                <td>${{item.product.price}}</td>
                <td><input type="number" name="" id="" class="w-14 border p-1 outline-none rounded-lg" value="{{item.quantity}}">
                </td>
                <td>${{item.subtotal}}</td>
                <td hx-post="{% url 'products:remove-cart-item' item.pk %}" hx-trigger="click" hx-target="#items-table">
                    <div class="cursor-pointer" x-on:click="removePopShown = true; removeText = 'this product' "><i
                            class="fa-regular fa-trash-can"></i></div>
                </td>
            </tr>
        {% endfor %}
        <tr class="*:pb-2 *:first:pt-3">
            <td class="pl-2">
                <img src="{% static 'images/juice.jpg'%}" alt="" class="rounded-lg object-cover h-24">
            </td>
            <td>Orange Juice</td>
            <td>$35.99</td>
            <td><input type="number" name="" id="" class="w-14 border p-1 outline-none rounded-lg">
            </td>
            <td>$15.99</td>
            <td>
                <div class="cursor-pointer" x-on:click="removePopShown = true; removeText = 'this product' "><i
                        class="fa-regular fa-trash-can"></i></div>
            </td>
        </tr>
    </tbody>
</table>