{% load static %}

<div class="border-b border-slate-400 w-full h-8 flex justify-center items-center">
  <div class="flex justify-center sm:justify-between items-center container px-4 text-sm">
    <div>
      <ul class="flex *:border-r gap-2 *:pr-1 *:cursor-pointer text-xs">
        <li><a href="{% url 'services:about-us'%}">About Us</a></li>
        <li><a href="{% url 'services:dashboard'%}">My Account</a></li>
        <li><a href="{% url 'products:wishlist' %}">Wishlist</a></li>
        <li class="border-none"><a href="{% url 'services:dashboard'%}">Order Tracking</a></li>
      </ul>
    </div>
    <div class="hidden sm:block">
      <p>save up 35% off tody!</p>
    </div>
    <div class="hidden lg:block">
      <ul class="flex gap-2">
        <li>
          Need help? Call Us: <a class="text-green-500" href="">+1800 900</a>
        </li>
        <li>English</li>
        <li>USD</li>
      </ul>
    </div>
  </div>
</div>

<div class="h-fit sm:h-28 w-full border-b border-slate-400 flex justify-center items-center"
  style="background-color: #fefefe">
  <div
    class="flex flex-col gap-5 py-5 sm:py-0 justify-center sm:flex-row sm:justify-between items-center container px-4 text-sm sm:gap-4">
    <div class="block">
      <img src="{% static 'images/nest.jpg' %}" alt="" />
    </div>
    <div class="flex-grow lg:max-w-96">
      <form action="" class="flex justify-between items-center border border-slate-400 px-6 h-8 rounded">
        <input type="text" name="" id="" placeholder="Search for items..."
          class="outline-none caret-slate-400 flex-1 placeholder:text-black" />
        <i class="fa-solid fa-magnifying-glass text-green-400 cursor-pointer"></i>
      </form>
    </div>
    <div class="hidden sm:block relative" x-data="{accountOpened: false, wishlistTextOpened : false}">
      <ul class="flex items-center *:h-7 *:flex *:gap-1 *:items-center *:cursor-pointer gap-5">
        <li class="relative" x-on:mouseover="wishlistTextOpened = true"
          x-on:mouseover.outside="wishlistTextOpened = false">
          <i class="fa-regular fa-heart"></i>
          <a href="{% url 'products:wishlist' %}" class="hover:text-green-500 transition-colors">Wishlist</a>
          <span class="bg-white border shadow rounded-xl absolute top-8 -left-5 w-32 p-2 text-center z-[110]"
            x-show="wishlistTextOpened" x-on:mouseenter="wishlistTextOpened = false" x-transition>Items You
            Liked</span>
        </li>
        <li>
          <i class="fa-solid fa-cart-shopping"></i>
          <a href="{% url 'products:cart' %}" class="hover:text-green-500 transition-colors">Cart</a>
        </li>
        <li x-on:mouseover="accountOpened = true" x-on:mouseover.outside="accountOpened = false">
          <i class="fa-regular fa-circle-user"></i>
          <p class="transition-colors" x-bind:class="accountOpened && 'text-green-500'">Account</p>
          <div id="account-pop" class="absolute bg-white rounded-lg border top-7 -right-2 z-[110] shadow-lg"
            x-show="accountOpened" x-transition>
            <ul class="flex flex-col gap-5 p-3 *:flex *:gap-2 *:items-center *:cursor-pointer">
              <li>
                <i class="fa-regular fa-circle-user"></i>
                <p><a href="{% url 'services:dashboard' %}">My account</a></p>
              </li>
              <li>
                <i class="fa-solid fa-burger"></i>
                <p><a href="{% url 'services:dashboard' %}">Order Tracking</a></p>
              </li>
              <li>
                <i class="fa-regular fa-heart"></i>
                <p><a href="{% url 'products:wishlist' %}">My Wishlist</a></p>
              </li>
              <li>
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <p><a href="{% url 'services:dashboard' %}">Sign in</a></p>
              </li>
            </ul>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>

<div
  class="h-16 w-full border-b border-slate-400 flex justify-center items-center sticky top-0 bg-white z-[100] shadow-sm">
  <div class="container px-4 "
    x-data="{smallNavbarShown: false, categoriesDropdownShown: false}">
    <div class="relative flex justify-center md:justify-between items-center text-sm gap-5 md:gap-0">
      <div class="flex text-base items-center gap-2 bg-green-500 p-2 rounded text-white cursor-pointer hover:bg-green-600 transition-colors"
        x-on:click="categoriesDropdownShown = !categoriesDropdownShown">
        <i class="fa-solid fa-table"></i>
        <p class="text-center text-sm sm:text-base">Browse All Categories</p>
        <i class="fa-solid fa-chevron-down" x-bind:class="categoriesDropdownShown && rotate-90" x-transition></i>
      </div>
      <!-- flowbite element -->
      <div id="categories-dropdown" class="border absolute top-12 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
        x-show="categoriesDropdownShown" x-on:click.outside="categoriesDropdownShown = false" x-transition>
        <ul class="py-2 text-sm text-black">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Burger</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Sea Food</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Pet Food</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Milks & dairies</a>
          </li>
        </ul>
      </div>
      <!-- endelement -->
      <div class="block md:hidden py-1 px-3 rounded bg-gray-400 hover:bg-gray-500 transition-colors text-lg text-white cursor-pointer order-first"
        x-on:click="smallNavbarShown = true">
        <i class="fa-solid fa-list"></i>
      </div>
      <div class="hidden md:block">
        <ul
          class="flex gap-3 max-md:flex-col text-base relative [&>*:where(li)]:p-1 [&>*:where(li)]:cursor-pointer [&>*:where(li)]:transition-colors [&>*:where(li)]:rounded"
          x-data="{pagesShown: false}">
          <li class="flex items-center gap-2 hover:text-amber-500
            {% if chosen == 'deals'%}
            text-amber-500
            {% endif %}">
            <i class="fa-solid fa-fire text-amber-500"></i>
            <p><a href="">Deals</a></p>
          </li>
          <li class="hover:text-green-500
            {% if chosen == 'home' %}
            text-green-500
            {% endif %}"><a href="{% url 'products:home'%}">Home</a></li>
          <li class="hover:text-green-500
                    {% if chosen == 'shop' %}
                    text-green-500
                    {% endif %}"><a href="{% url 'products:shop'%}">Shop</a></li>
          <li class="hover:text-green-500
                    {% if chosen == 'vendors' %}
                    text-green-500
                    {% endif %}"><a href="{% url 'vendors:vendor-list' %}">Vendors</a></li>
          <li class="flex items-center gap-2 hover:text-green-500" x-on:click="pagesShown = !pagesShown">
            <p>Pages</p>
            <i class="fa-solid fa-chevron-down text-sm"></i>
          </li>
          <ul id="pages-pop"
            class="absolute flex flex-col gap-3 bg-white rounded border shadow-sm px-7 py-4 top-10 -right-8 w-48 *:cursor-pointer text-gray-500"
            x-show="pagesShown" x-on:click.outside="pagesShown = false" x-transition>
            <li class="hover:text-black transition-colors"><a href="{% url 'services:about-us'%}">About Us</a></li>
            <li class="hover:text-black transition-colors"><a href="{% url 'services:dashboard'%}">My Dashboard</a></li>
            <li class="hover:text-black transition-colors"><a href="{% url 'services:purchase-guide'%}">Purchase Guide</a></li>
            <li class="hover:text-black transition-colors"><a href="{% url 'services:privacy-policy'%}">Privacy Policy</a></li>
            <li class="hover:text-black transition-colors"><a href="{% url 'services:terms-of-service'%}">Terms of Service</a></li>
          </ul>
          <li class="hover:text-green-500 
          {% if chosen == 'contact'%}
          text-green-500
          {% endif %}"><a href="{% url 'services:contact'%}">Contact</a></li>
        </ul>
      </div>
      {% include 'partials/small-navbar.html' %}
      <div class="items-center gap-3 mr-8 hidden lg:flex">
        <i class="fa-solid fa-headset text-3xl"></i>
        <div class="flex flex-col">
          <p class="text-green-500 text-lg">1900 - 888</p>
          <p class="text-gray">24/7 Support Center</p>
        </div>
      </div>
    </div>
  </div>
</div>
