<div class=" w-full py-6 border-b border-slate-400 content-center">
    <div class="container flex flex-wrap mx-auto gap-7 px-4 justify-center md:justify-normal items-center text-sm ">
        <a href="{% url 'home'%}">
            <div class="text-green-700 flex items-center gap-2">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </div>
        </a>
        <span class="text-green-500"><i class="fa-solid fa-chevron-right"></i></span>
        <a href="{{parent_page_url}}" class="text-green-600">{{ parent_page_name }}</a>
        {% if page_name %}
        <span class="text-green-500"><i class="fa-solid fa-chevron-right"></i></span>
        <span>{{ page_name }}</span>
        {% endif %}
    </div>
</div>