{% load static %}

<div class="border rounded-xl flex flex-col gap-1 relative px-2 py-2 col-span-2 transition-all hover:shadow hover:border-gray-400">
    <span
        class="absolute w-16 h-6 text-center content-center text-sm bg-pink-500 text-white top-0 left-0 rounded-ss-xl rounded-ee-xl z-50">-40%</span>
    <div class="w-full border h-56 rounded-lg group realtive overflow-hidden">
        <img src="{% static 'images/cake.jpg'%}" alt=""
            class="object-cover size-full transition-transform duration-500 group-hover:scale-125">
        <div
            class="opacity-0 absolute gap-1 group-hover:opacity-100 flex rounded transition-opacity p-1 top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-50 text-green-700 *:cursor-pointer">
            <div class="border-r pr-1 peer/heart" x-data="{heartHovered: false, heartClicked:false}" x-on:mouseover="heartHovered = true"
                x-on:mouseleave="heartHovered = false" x-on:click="heartClicked = !heartClicked">
                <i class="fa-regular fa-heart" x-show="!(heartHovered || heartClicked)" x-transition:enter></i>
                <i class="fa-solid fa-heart text-red-400" x-show="heartHovered || heartClicked"></i>
            </div>
            <div class="peer/info"><i class="fa-solid fa-circle-info"></i></div>
            <span
                class="w-28 text-white text-sm text-center rounded absolute -top-7 -left-11 p-1 bg-green-500 opacity-0 peer-hover/heart:opacity-100 peer-hover/heart:-top-10 transition-all before:border-8 before:size-3 before:-bottom-3 before:right-12 before:absolute before:border-transparent before:border-t-green-500">Add
                to WishList</span>
            <span
                class="w-24 text-white text-sm text-center rounded absolute -top-7 -left-2 p-1 bg-green-500 opacity-0 peer-hover/info:opacity-100 peer-hover/info:-top-10 transition-all before:border-8 before:size-3 before:-bottom-3 before:right-10 before:absolute before:border-transparent before:border-t-green-500">
                Details
            </span>
        </div>
    </div>
    <small class="text-gray-500 text-xs">Food</small>
    <strong class="font-bold h-12 line-clamp-2">Red Velvet Cakes</strong>
    <span><i class="fa-solid fa-star text-yellow-500 mr-1"></i>(0)</span>
    <p class="text-sm">
        By <a href="" class="text-green-500">NestFOOD</a>
    </p>
    <div class="flex justify-between items-center mt-3">
        <span class="text-green-600 font-bold">$ 88.93</span>
        {% if request.user.is_authenticated %}
        <div class="flex items-center gap-2">
            <div class="bg-green-200 hover:bg-green-500 group cursor-pointer transition-colors px-2 py-1 rounded"
                x-data="{addedToCart: false}" x-on:click="addedToCart = true">
                <div x-show="!addedToCart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <button class="group-hover:text-white" >Add</button>
                </div>
                <i class="fa-solid fa-check group-hover:text-white transition-colors" x-show="addedToCart"></i>
            </div>
            <div class="cursor-pointer" x-data="{heartHovered: false, heartClicked:false}" x-on:mouseover="heartHovered = true" x-on:mouseleave="heartHovered = false"
                x-on:click="heartClicked = !heartClicked">
                <i class="fa-regular fa-heart" x-show="!(heartHovered || heartClicked)" x-transition:enter></i>
                <i class="fa-solid fa-heart text-red-400" x-show="heartHovered || heartClicked"></i>
            </div>
        </div>
        {% endif %}
    </div>
    <small class="line-through text-gray-500 text-sm ml-2">$200.99</small>
</div>