{% load static %}

<footer class="container sm:mx-auto px-4 my-24 xl:max-w-7xl space-y-10">
    <div class="px-5 md:px-20 py-16 border rounded-lg shadow-md bg-cover bg-no-repeat bg-center xl:bg-bottom" 
    style="background-image: url(/static/images/fruits-footer.png)">
        <h1 class="text-2xl">Stay home & get your daily</h1>
        <h1>From Our Shop</h1>
        <br>
        <small class="text-gray-500 text-lg">Start Your Daily Shop With <a href="{% url 'products:home'%}" class="text-green-500">Nest
                Mart</a></small>
    </div>
    <div class="mx-auto max-w-screen-xl text-center py-4 md:p-8 lg:p-10 space-y-5 bg-[#fefefe] rounded-lg">
        <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 ">
            <img class="mr-2 h-8" src="{% static 'images/nest.jpg' %}" alt="">
        </a>
        <p class="my-6 text-gray-500 ">Open-source library of over 400+ web components and interactive
            elements built for better web.</p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900">
            <li>
                <a href="{% url 'services:about-us' %}" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="{% url 'services:contact' %}" class="mr-4 hover:underline md:mr-6">Contact</a>
            </li>
            <li>
                <a href="{% url 'services:privacy-policy' %}" class="mr-4 hover:underline md:mr-6 ">Privacy & Policy</a>
            </li>
            <li>
                <a href="{% url 'services:terms-of-service' %}" class="mr-4 hover:underline md:mr-6">Terms of Service</a>
            </li>
            <li>
                <a href="{% url 'services:dashboard' %}" class="mr-4 hover:underline md:mr-6">Dashboard</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
            </li>
        </ul>
        <span class="text-sm text-gray-500 sm:text-center">© 2023-2024 <a href="{% url 'products:home' %}" class="hover:underline">Nest™</a>.
            All Rights Reserved.</span>
    </div>
</footer>
