{% extends 'main.html'%}
{% load static %}


{% block head %}
<title>Nest | category-name</title>
{% endblock head%}


{% block content %}
{% include 'partials/navbar.html' with chosen="categories"%}
{% url 'products:categories-list' as parent_page_url%}
{% include 'partials/path.html' with parent_page_name='Categories' page_name=category.label|capfirst parent_page_url=parent_page_url %}

<div class="container mx-auto px-4 my-5">
    <div class="flex flex-col gap-3 bg-green-100 border rounded-lg py-20 text-center px-4 sm:px-20 sm:text-left">
        <h1 class="font-bold text-4xl">#{{category.label|capfirst}}</h1>
        <div class="flex flex-wrap gap-3 items-center text-sm justify-center sm:justify-normal">
            <a href="{% url 'products:home'%}">
                <div class="text-green-700 flex items-center gap-2">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </div>
            </a>
            <span class="text-green-500">&gt;</span>
            <span>{{category.label|capfirst}}</span>
        </div>
    </div>
</div>

<div class="container mx-auto px-4 flex flex-col gap-3">
    <p>We found {{products.count}} items for you!</p>
    <div class="grid grid-cols-12 gap-y-5">
        <div class="rounded-lg col-span-full flex flex-col gap-y-4">
            <div class="grid max-[430px]:grid-cols-2 grid-cols-4 md:grid-cols-6 lg:grid-cols-8 xl:grid-cols-10 gap-3">
                {% for product in products %}
                    {% include 'partials/product-partial.html' with product=product%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include 'partials/footer.html' %}
{% endblock content %}