{% extends 'main.html'%}
{% load static %}
{% load mytags %}

{% block head %}
<title>Nest | My Account</title>
{% endblock head %}


{% block content %}
{% include 'partials/navbar.html'%}
{% include "partials/path.html" with parent_page_name="Dashboard"%}
<div class="container mx-auto px-4 my-20 xl:max-w-7xl">
    <div x-data="{ openedIndex: 0}">
        <div class="flex gap-10 flex-col md:flex-row">
            <ul class="flex flex-col gap-4 grow h-fit *:transition-colors *:border *:rounded-lg *:cursor-pointer *:shadow *:p-3 *:grow *:flex *:items-center *:gap-3">
                {% with "Profile,Orders,My Address,Account Details,Logout"|split:',' as tablist %}
                    {% for tab in tablist %}
                        {% cycle 'fa-solid fa-user' 'fa-solid fa-burger' 'fa-solid fa-location-dot' 'fa-solid fa-address-book' 'fa-solid fa-arrow-right-to-bracket' as icon silent %}
                        {% include 'partials/dashboard-tabs.html' with tab=tab icon=icon %}
                    {% endfor %}
                {% endwith %}
            </ul>
            <div class="order-first md:order-none grow-[3]" x-show="openedIndex == 0" x-transition:enter>
                <h1 class="font-bold text-3xl pl-2">My Profile</h1>
                <br>
                <hr class="border">
                <br>
                <div class="flex gap-5">
                    <img src="{% static 'images/default-account-image.png'%}" alt="" class="rounded-full size-32">
                    <div class="w-full pr-20 *:border *:rounded-lg *:p-3 space-y-2">
                        <div>Name - Osama Doage</div>
                        <div>Bio - Software Enginner</div>
                        <div>Phone - +963 997084795</div>
                        <div>Unverified Email</div>
                        <div class="border-none">
                            <button class="p-3 bg-green-500 rounded-lg text-white hover:bg-green-600 hover:-translate-y-1 transition-[background-color,transform]"
                                x-on:click="openedIndex = 3">Edit Profile</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-first md:order-none grow-[2] overflow-x-auto pb-5" x-show="openedIndex == 1"
                x-transition:enter>
                <table class="pb-5 pt-3 border rounded-lg min-w-[550px] sm:min-w-full h-fit text-center">
                    <thead class="bg-gray-50  *:*:last:pr-3">
                        <tr class="*:py-3 text-sm *:font-medium *:tracking-wider text-gray-500">
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Paid Status</th>
                            <th>Total</th>
                            <th class="pr-3">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="*:*:px-3 *:*:py-4 *:border-b">
                        <tr>
                            <td>INVOICE_NO_9</td>
                            <td>July 14, 2022, 12:19 p.m</td>
                            <td>Processing</td>
                            <td class="text-red-700">x</td>
                            <td>$88.9</td>
                            <td>View</td>
                        </tr>
                        <tr>
                            <td>INVOICE_NO_9</td>
                            <td>July 14, 2022, 12:19 p.m</td>
                            <td>Processing</td>
                            <td class="text-red-700">x</td>
                            <td>$88.9</td>
                            <td>View</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="grow-[3] space-y-2" x-show="openedIndex == 2" x-transition:enter>
                <label class="font-semibold">Add address | Change Address</label>

                <form action="" class="space-y-3 flex flex-col gap-3">
                    <div class="flex gap-3 flex-wrap *:grow items-center">
                        <div class="flex flex-col gap-2">
                            <label for="country">Country</label>
                            <select name="country" id="country" class="rounded-lg border p-3">
                                <option value="">Germany</option>
                                <option value="">US</option>
                                <option value="">Syria</option>
                                <option value="">France</option>
                                <option value="">Russia</option>
                                <option value="">China</option>
                                <option value="">Jordan</option>
                                <option value="">Iraq</option>
                                <option value="">Palestine</option>
                                <option value="">Turkey</option>
                                <option value="">UK</option>
                            </select>
                        </div>

                        <div class="flex flex-col gap-3">
                            <label for="city">City</label>
                            <select name="city" id="city" disabled class="rounded-lg border p-3"></select>
                        </div>
                    </div>
                    <div class="flex gap-3 flex-wrap items-center *:grow">
                        <div class="flex flex-col gap-3">
                            <select name="" id="" class="border rounded-lg p-3">
                                <option value="">+963</option>
                                <option value="">+44</option>
                                <option value="">+01</option>
                                <option value="">+07</option>
                                <option value="">+962</option>
                                <option value="">+964</option>
                                <option value="">+90</option>
                                <option value="">+70</option>
                                <option value="">+964</option>
                            </select>
                        </div>
                        <input type="text" placeholder="Phone Number" class="rounded-lg border p-3">
                    </div>
                    <input type="submit" value="Save Address"
                        class="w-fit cursor-pointer bg-green-500 text-white py-4 px-6 rounded-lg border hover:bg-green-600 transition-colors">
                </form>
                <p class="text-sm text-gray">* These are the valid cities you could choose. If you are not in one of
                    these
                    cities, we're really sorry.</p>
            </div>
            <div class="grow-[3]" x-show="openedIndex == 3" x-transition:enter>
                <form action="" class="flex flex-col gap-5">
                    <h2 class="font-semibold text-xl">Account Details</h2>
                    <div class="flex gap-5">
                        <img src="{% static 'images/default-account-image.png'%}" alt="" class="rounded-full size-24">
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900" for="file_input">Upload file</label>
                            <input class="block p-4 w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" type="file">
                        </div>
                    </div>
                    <div class="flex flex-col flex-wrap gap-3 *:grow">
                        <div class="flex flex-wrap gap-3 *:grow">
                            <div class="flex flex-col gap-1">
                                <label>First name</label>
                                <input type="text" class="border rounded-lg p-2 caret-slate-400">
                            </div>
                            <div class="flex flex-col gap-1">
                                <label>Last name</label>
                                <input type="text" class="border rounded-lg p-2 caret-slate-400">
                            </div>
                        </div>
                        <div class="flex flex-col gap-1 *:grow">
                            <label>Display name</label>
                            <input type="text" class="border rounded-lg p-2 caret-slate-400">
                        </div>
                        <div class="flex flex-col gap-1 *:grow">
                            <label>Email Address</label>
                            <input type="email" class="border rounded-lg p-2 caret-slate-400">
                        </div>
                    </div>
                    <button
                        class="bg-green-500 text-white border rounded-lg p-4 hover:bg-amber-400 transition-colors self-start">Save
                        Profile</button>
                </form>
                <div id="change-password-pop"
                    class="hidden -flex flex-col gap-3 bg-white border rounded-lg p-5 fixed w-4/5 mx-auto sm:w-96 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[120]  scale-90 hover:scale-95 transition-transform">
                    <h1 class="font-bold text-2xl">Change Password</h1>
                    <hr>
                    <div class="flex flex-col gap-1">
                        <label for="">New Password</label>
                        <input type="text" class="border rounded-lg p-2 caret-slate-300">
                    </div>
                    <div class="flex flex-col gap-1">
                        <label for="">Confirm Password</label>
                        <input type="text" class="border rounded-lg p-2 caret-slate-300">
                    </div>
                    <br>
                    <hr>
                    <button class="bg-green-500 text-white p-4 rounded-lg hover:bg-amber-400 transition-colors">Confirm
                        Changes</button>
                </div>
                <div id="payment-online-pop"
                    class="hidden -flex flex-col gap-3 *:grow bg-white border rounded-lg p-5 absolute w-4/5 lg:w-3/5 mx-auto top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[120] hover:scale-105 transition-all">
                    <h1 class="font-bold text-2xl">Payment</h1>
                    <hr>
                    <div>
                        <h3>Saved cards:</h3>
                        <br>
                        <div class="flex flex-col gap-5">
                            <div class="flex gap-3 flex-wrap items-center">
                                <img src="{% static 'images/mastercard.jpg'%}" alt="" class="size-14 object-cover">
                                <input type="text" class="border rounded-lg p-2 grow h-fit">
                                <button class="text-blue-500">Remove Card</button>
                            </div>
                            <div class="flex gap-3 flex-wrap items-center">
                                <img src="{% static 'images/visa.jpg'%}" alt="" class="size-14">
                                <input type="text" class="border rounded-lg p-2 grow h-fit">
                                <button class="text-blue-500">Remove Card</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Add new card:</h3>
                        <div class="flex flex-col gap-3">
                            <input type="text" placeholder="Cardholder's Name" class="border rounded-lg p-2">
                            <div class="flex flex-wrap gap-3 *:grow">
                                <input type="text" placeholder="Card Number" class="border rounded-lg p-2">
                                <input type="text" placeholder="Expire" class="border rounded-lg p-2">
                                <input type="text" placeholder="Cvv" class="border rounded-lg p-2">
                            </div>
                        </div>
                    </div>
                    <button class="bg-green-500 rounded-lg text-white hover:bg-amber-400 transition-colors p-3">Pay
                        $123.99</button>
                </div>
            </div>
            <div class="grow-[3] flex flex-col gap-3" x-show="openedIndex == 4" x-transition:enter>
                <p class="text-black text-lg">Are you sure you want to logout?</p>
                <button
                    class="w-fit bg-green-500 p-3 hover:hover:bg-green-600 text-white transition-colors rounded-lg">Confirm</button>
                <p class="text-gray-500">* You won't be able to comment on products and rate them.</p>
            </div>
        </div>
    </div>
</div>


{% include "partials/footer.html" %}

<div class="hidden fixed inset-0 bg-slate-200/75 z-[110]" id="theme"></div>

{% endblock content %}