<div class=" container mx-auto px-4 mb-24">
    <div class="rounded-lg shadow-sm border px-5 md:px-20 py-16 bg-center bg-no-repeat bg-cover"
        style="background-image: url(/static/images/fruits-background.jpg)">
        <h1 class="text-2xl">Stay home & get your daily</h1>
        <h1>From Our Shop</h1>
        <small class="text-gray-500">Start Your Daily Shop With <a href="{% url 'index'%}" class="text-green-500">Nest
                Mart</a></small>
        <div
            class="mt-8 border w-fit rounded-full pl-3 bg-white max-[460px]:text-sm flex max-[460px]:flex-col max-[460px]:w-full max-[460px]:bg-transparent max-[460px]:gap-4 max-[460px]:border-none items-center">
            <i class="fa-regular fa-paper-plane"></i>
            <input type="text" placeholder="Your Email Address"
                class="rounded-xl placeholder:text-gray-600 p-1 outline-none max-[460px]:p-2 max-[460px]:w-full" />
            <button class="bg-green-500 text-white rounded-full py-3 px-7">
                Subscribe
            </button>
        </div>
    </div>
</div>