<footer class=" container mx-auto px-4 my-24 border rounded-lg shadow-md bg-cover bg-no-repeat bg-center xl:bg-bottom" 
    style="background-image: url(/static/images/fruits-footer.png)">
    <div class=" px-5 md:px-20 py-16 h-80">
        <h1 class="text-2xl">Stay home & get your daily</h1>
        <h1>From Our Shop</h1>
        <small class="text-gray-500">Start Your Daily Shop With <a href="{% url 'home'%}" class="text-green-500">Nest
                Mart</a></small>
        <div
            class="mt-8 border w-fit rounded-full pl-3 bg-white max-[460px]:text-sm flex max-[460px]:flex-col max-[460px]:w-full max-[460px]:bg-transparent max-[460px]:gap-4 max-[460px]:border-none items-center">
            <i class="fa-regular fa-paper-plane"></i>
            <input type="text" placeholder="Your Email Address"
                class="rounded-xl placeholder:text-gray-600 p-1 outline-none max-[460px]:p-2 max-[460px]:w-full" />
            <button class="bg-green-500 text-white rounded-full py-3 px-7 translate-x-1 hover:bg-amber-400 hover:translate-x-0 transition-[transform,background-color] active:bg-amber-500">
                Subscribe
            </button>
        </div>
    </div>
</footer>