{% load static %}

<div class="grid grid-cols-12 gap-4 container mx-auto my-5 px-4">
  <div class="grid-cols-2 gap-y-5 hidden col-span-3 lg:grid">
    <div class="rounded-lg shadow-md border flex col-span-full p-3 flex-col">
      <h2 class="font-bold border-b pb-3 text-lg">Category</h2>
      <ul
        class="*:flex *:items-center *:justify-between *:gap-1 *:border *:px-2 *:py-1 text-sm flex flex-col h-full mt-5 gap-5">
        <li>
          <div class="flex gap-2 items-center">
            <i class="fa-solid fa-cow text-blue-950"></i>
            <a href="">
              <p class="hover:text-blue-950 transition-colors cursor-pointer">
                Milks & Dairies
              </p>
            </a>
          </div>
          <span class="rounded-full border bg-green-200 px-1 py-0.5 text-xs">64</span>
        </li>
        <li>
          <div class="flex gap-2 items-center">
            <i class="fa-solid fa-paw text-blue-800"></i>
            <a href="">
              <p class="hover:text-blue-800 transition-colors cursor-pointer">
                Pet Foods
              </p>
            </a>
          </div>
          <span class="rounded-full border bg-green-200 px-1 py-0.5 text-xs">41</span>
        </li>
        <li>
          <div class="flex gap-2 items-center">
            <i class="fa-solid fa-cake-candles text-pink-600"></i>
            <a href="">
              <p class="hover:text-pink-600 transition-colors cursor-pointer">
                Baking Material
              </p>
            </a>
          </div>
          <span class="rounded-full border bg-green-200 px-1 py-0.5 text-xs">34</span>
        </li>
        <li>
          <div class="flex gap-2 items-center">
            <i class="fa-solid fa-seedling text-green-500"></i>
            <a href="">
              <p class="hover:text-green-500 transition-colors cursor-pointer">
                Fresh Fruits
              </p>
            </a>
          </div>
          <span class="rounded-full border bg-green-200 px-1 py-0.5 text-xs">25</span>
        </li>
      </ul>
    </div>
    <div class="rounded-lg shadow-md border flex col-span-full p-3 flex-col gap-2 relative ">
      <h2 class="font-bold border-b pb-3 text-lg">Fill by price</h2>
      <hr class="border-green-600 border-2 rounded" />
      <div class="flex justify-between">
        <p class="text-sm">
          From: <span class="text-green-600 font-bold">$500</span>
        </p>
        <p class="text-sm">
          To: <span class="text-green-600 font-bold">$1,000</span>
        </p>
      </div>

      <form action="" class="flex flex-col gap-5">
        <div>
          <h3>Color</h3>
          <ul class="text-gray-700 flex flex-col pl-2 gap-1 *:flex *:items-center *:gap-1">
            <li>
              <input type="checkbox" name="color" id="red" class="" />
              <label for="">Red (56)</label>
            </li>
            <li>
              <input type="checkbox" name="color" id="green" />
              <label for="green">Green (56)</label>
            </li>
            <li>
              <input type="checkbox" name="color" id="blue" />
              <label for="blue">Blue (21)</label>
            </li>
          </ul>
        </div>
        <div>
          <h3>Item Condition</h3>
          <ul class="text-gray-700 flex flex-col pl-2 gap-1 *:flex *:items-center *:gap-1">
            <li>
              <input type="checkbox" name="condition" id="new" />
              <label for="new">New</label>
            </li>
            <li>
              <input type="checkbox" name="condition" id="refurbished" />
              <label for="refurbished">Refurbished</label>
            </li>
            <li>
              <input type="checkbox" name="condition" id="sweets" />
              <label for="sweets">Sweets</label>
            </li>
          </ul>
        </div>
      </form>
      <div
        class="w-fit bg-green-500 hover:bg-green-600 transition-colors text-center py-3 px-8 rounded space-x-2 cursor-pointer">
        <i class="fa-solid fa-filter text-white"></i>
        <button class="text-white rounded">Filter</button>
      </div>
      <div class="absolute bottom-10 right-0 rotate-90">
        <img src="{% static 'images/lettuce.png'%}" alt="" class="w-24" draggable="false" />
      </div>
    </div>
    <div class="rounded-lg shadow-md border flex col-span-full p-3 flex-col gap-2">
      <h2 class="font-bold border-b pb-3 text-lg">New products</h2>
      <ul class="flex flex-col *:border-b *:pb-3 last:border-b-0">
        <li class="flex items-center gap-x-2">
          <div class="w-1/2 bg-gray-50">
            <img src="{% static 'images/pineapple-juice.png' %}" alt="">
          </div>
          <div class="flex flex-col">
            <a href="" class="text-green-600 font-bold">Chen Cardigan</a>
            <small class="text-gray-600 mt-1">$99.50</small>
            <div class="*:text-sm">
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-gray-300"></i>
            </div>
          </div>
        </li>
        <li class="flex items-center gap-x-2">
          <div class="w-1/2 bg-gray-50">
            <img src="{% static 'images/pineapple-juice.png' %}" alt="">
          </div>
          <div class="flex flex-col">
            <a href="" class="text-green-600 font-bold">Chen Cardigan</a>
            <small class="text-gray-600 mt-1">$99.50</small>
            <div class="*:text-sm">
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-gray-300"></i>
            </div>
          </div>
        </li>
        <li class="flex items-center gap-x-2">
          <div class="w-1/2 bg-gray-50">
            <img src="{% static 'images/pineapple-juice.png' %}" alt="">
          </div>
          <div class="flex flex-col">
            <a href="" class="text-green-600 font-bold">Chen Cardigan</a>
            <small class="text-gray-600 mt-1">$99.50</small>
            <div class="*:text-sm">
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-gray-300"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div
      class="rounded-lg shadow-md border flex col-span-full pt-16 pb-24 h-fit pl-10 flex-col gap-2 bg-no-repeat bg-left-top"
      style="background-image: url(../static/images/juice.jpg);">
      <small class="text-sm text-gray-500">Organic</small>
      <h1 class="text-2xl">Save 50% <br> on <span class="font-bold text-amber-800">Organic</span> <br> Juice</h1>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-y-5 col-span-full lg:col-span-9 h-fit">
    <div class="rounded-lg shadow-sm border col-span-full px-5 sm:px-20 py-16 bg-center bg-no-repeat bg-cover"
      style="background-image: url(../static/images/fruits-background.jpg)">
      <h1 class="text-4xl tracking-wider font-bold text-blue-950">
        Don't Miss Amazing
      </h1>
      <h1 class="text-4xl tracking-wider font-bold text-blue-950">
        Grocery Deals!
      </h1>
      <p class="mt-3 text-lg text-gray-500">Sign up for the daily newsletter</p>
      <div
        class="mt-8 border w-fit rounded-full pl-3 bg-white max-[460px]:text-sm flex max-[460px]:flex-col max-[460px]:w-full max-[460px]:bg-transparent max-[460px]:gap-4 max-[460px]:border-none items-center">
        <i class="fa-regular fa-paper-plane"></i>
        <input type="text" placeholder="Your Email Address"
          class="rounded-xl placeholder:text-gray-600 p-1 outline-none max-[460px]:p-2 max-[460px]:w-full" />
        <button class="bg-green-500 text-white rounded-full py-3 px-7">
          Subscribe
        </button>
      </div>
    </div>
    <div class="rounded-lg col-span-full flex flex-col gap-y-4">
      <div class="flex justify-between items-center w-full relative">
        <h1 class="text-3xl max-[360px]:text-xl">Popular Prducts</h1>
        <ul
          class="text-sm space-y-3 hidden *:cursor-pointer flex-col bg-white absolute z-50 top-16 right-[10%] w-3/4 py-8 border rounded-lg text-center items-center md:border-none md:flex md:flex-row md:static md:w-auto md:gap-4 md:rounded-none md:space-y-0">
          <li class="text-green-500">All</li>
          <li class="hover:text-green-500 transition-colors">
            Milks & Dairies
          </li>
          <li class="hover:text-green-500 transition-colors">Coffes & Teas</li>
          <li class="hover:text-green-500 transition-colors">Pet Foods</li>
          <li class="hover:text-green-500 transition-colors">Meats</li>
          <li class="hover:text-green-500 transition-colors">Vigitables</li>
          <li class="hover:text-green-500 transition-colors">Fruits</li>
        </ul>
        <div
          class="md:hidden max-[360px]:mr-0 max-[360px]:text-sm mr-8 cursor-pointer bg-gray-700 hover:bg-gray-800 transition-colors text-white py-1 px-2 shadow rounded">
          <i class="fa-solid fa-ellipsis"></i>
        </div>
      </div>
      <div class="grid max-[430px]:grid-cols-2 grid-cols-4 md:grid-cols-6 lg:grid-cols-8 xl:grid-cols-10 gap-3">
        <div class="border rounded-xl flex flex-col gap-1 relative px-2 py-2 col-span-2">
          <span
            class="absolute w-16 h-6 text-center content-center text-sm bg-pink-500 text-white top-0 left-0 rounded-ss-xl rounded-ee-xl z-50">-40%</span>
          <div class="w-full border h-56 rounded-lg group realtive overflow-hidden">
            <img src="{% static 'images/cake.jpg'%}" alt=""
              class="object-cover size-full transition-transform duration-500 group-hover:scale-125">
            <div
              class="opacity-0 absolute gap-1 group-hover:opacity-100 flex rounded transition-opacity p-1 top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-50 text-green-700 *:cursor-pointer">
              <div class=" border-r pr-1"><i class="fa-regular fa-heart"></i></div>
              <div><i class="fa-solid fa-circle-info"></i></div>
            </div>
          </div>
          <small class="text-gray-500 text-xs">Food</small>
          <strong class="font-bold h-12 line-clamp-2">Red Velvet Cakes</strong>
          <span><i class="fa-solid fa-star text-yellow-500 mr-1"></i>(0)</span>
          <p class="text-sm">
            By <a href="" class="text-green-500">NestFOOD</a>
          </p>
          <div class="flex justify-between items-center mt-3">
            <span class="text-green-600 font-bold">$ 88.93</span>
            <div class="flex items-center gap-2">
              <div class="bg-green-200 hover:bg-green-500 group cursor-pointer transition-colors px-2 py-1 rounded">
                <i class="fa-solid fa-cart-shopping"></i>
                <button class="group-hover:text-white">Add</button>
              </div>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <small class="line-through text-gray-500 text-sm ml-2">$200.99</small>
        </div>
        <div class="border rounded-md flex flex-col gap-1 relative px-2 py-2 col-span-2">
          <span class="absolute"></span>
          <div class="w-full border h-56 bg-cover bg-left bg-no-repeat rounded-lg" style="
              background-image: url(../static/images/spatchcock-bbq-chicken.jpg);
            ">
            <!-- <img src="{% static 'images/cake.jpg'%}" alt="" class="w-full"> -->
          </div>
          <small class="text-gray-500 text-xs">Food</small>
          <strong class="font-bold">Spatchcock BBQ Chicken</strong>
          <span><i class="fa-solid fa-star text-yellow-500 mr-1"></i>(0)</span>
          <p class="text-sm">By <a href="" class="text-green-500">XFOOD</a></p>
          <div class="flex justify-between items-center mt-3">
            <span class="text-green-600 font-bold">$ 10.93</span>
            <div class="flex items-center gap-2">
              <div class="bg-green-200 px-2 py-1 rounded">
                <i class="fa-solid fa-cart-shopping"></i>
                <button class="">Add</button>
              </div>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <small class="line-through text-gray-500 text-sm ml-2">$20.99</small>
        </div>
        <div class="border rounded-md flex flex-col gap-1 relative px-2 py-2 col-span-2">
          <span class="absolute"></span>
          <div class="w-full border h-56 bg-cover bg-left bg-no-repeat rounded-lg" style="
              background-image: url(../static/images/grilled-bbq-chicken.jpg);
            ">
            <!-- <img src="{% static 'images/cake.jpg'%}" alt="" class="w-full"> -->
          </div>
          <small class="text-gray-500 text-xs">Food</small>
          <strong class="font-bold">Home-made BBQ Grilled Chicken</strong>
          <span><i class="fa-solid fa-star text-yellow-500 mr-1"></i>(0)</span>
          <p class="text-sm">
            By <a href="" class="text-green-500">Nestify</a>
          </p>
          <div class="flex justify-between items-center mt-3">
            <span class="text-green-600 font-bold">$ 10.93</span>
            <div class="flex items-center gap-2">
              <div class="bg-green-200 px-2 py-1 rounded">
                <i class="fa-solid fa-cart-shopping"></i>
                <button class="">Add</button>
              </div>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <small class="line-through text-gray-500 text-sm ml-2">$20.99</small>
        </div>
        <div class="border rounded-md flex flex-col gap-1 relative px-2 py-2 col-span-2">
          <span class="absolute"></span>
          <div class="w-full border h-56 bg-cover bg-center bg-no-repeat rounded-lg" style="
              background-image: url(../static/images/double-bief-fried-chicken-bacon.jpg);
            ">
            <!-- <img src="{% static 'images/cake.jpg'%}" alt="" class="w-full"> -->
          </div>
          <small class="text-gray-500 text-xs">Food</small>
          <strong class="font-bold">Double Bief Fried Chicken Bacon</strong>
          <span><i class="fa-solid fa-star text-yellow-500 mr-1"></i>(0)</span>
          <p class="text-sm">
            By <a href="" class="text-green-500">Nestify</a>
          </p>
          <div class="flex justify-between items-center mt-3">
            <span class="text-green-600 font-bold">$ 10.93</span>
            <div class="flex items-center gap-2">
              <div class="bg-green-200 px-2 py-1 rounded">
                <i class="fa-solid fa-cart-shopping"></i>
                <button class="">Add</button>
              </div>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <small class="line-through text-gray-500 text-sm ml-2">$20.99</small>
        </div>
        <div class="border rounded-md flex flex-col gap-1 relative px-2 py-2 col-span-2">
          <span class="absolute"></span>
          <div class="w-full border h-56 bg-cover bg-left bg-no-repeat rounded-lg" style="
              background-image: url(../static/images/spatchcock-bbq-chicken.jpg);
            ">
          </div>
          <small class="text-gray-500 text-xs">Food</small>
          <strong class="font-bold">Spatchcock BBQ Chicken</strong>
          <span><i class="fa-solid fa-star text-yellow-500 mr-1"></i>(0)</span>
          <p class="text-sm">By <a href="" class="text-green-500">XFOOD</a></p>
          <div class="flex justify-between items-center mt-3">
            <span class="text-green-600 font-bold">$ 10.93</span>
            <div class="flex items-center gap-2">
              <div class="bg-green-200 px-2 py-1 rounded">
                <i class="fa-solid fa-cart-shopping"></i>
                <button class="">Add</button>
              </div>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
          <small class="line-through text-gray-500 text-sm ml-2">$20.99</small>
        </div>
        {% comment %} {% component 'product' name="babarony" number_stars="12"
        image_url="../static/images/double-bief-fried-chicken-bacon.jpg"
        new_price="12.32" old_price="20.32" company="FOODTIFY" category="Sweet"
        %} {%endcomponent%} {% endcomment %}
      </div>
    </div>
    <div class="col-span-full">
      <div class="rounded-lg shadow-sm border px-5 md:px-20 py-16 bg-center bg-no-repeat bg-cover"
        style="background-image: url(/static/images/fruits-background.jpg)">
        <h1 class="text-2xl">Stay home & get your daily</h1>
        <h1>From Our Shop</h1>
        <small class="text-gray-500">Start Your Daily Shop With <a href="{% url 'index'%}" class="text-green-500">Nest
            Mart</a></small>
        <div
          class="mt-8 border w-fit rounded-full pl-3 bg-white max-[460px]:text-sm flex max-[460px]:flex-col max-[460px]:w-full max-[460px]:bg-transparent max-[460px]:gap-4 max-[460px]:border-none items-center">
          <i class="fa-regular fa-paper-plane"></i>
          <input type="text" placeholder="Your Email Address"
            class="rounded-xl placeholder:text-gray-600 p-1 outline-none max-[460px]:p-2 max-[460px]:w-full" />
          <button class="bg-green-500 text-white rounded-full py-3 px-7">
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</div>