{% extends 'main.html'%}
{% load static %}


{% block head%}
<title>Nest | Login</title>
{% endblock head%}


{% block content%}
{% include 'navbar.html' with chosen="home"%}

{%include 'path.html' with parent_page_name="Pages" page_name="Login" %}

<div class="flex flex-col md:flex-row *:grow container mx-auto my-24 px-5 rounded-lg gap-10 max-w-[1270px]">
    <img src="{% static 'images/man3.jpg'%}" alt=""
        class="object-cover w-full self-center md:self-auto md:w-1/2 max-w-[600px] rounded-lg shadow">
    <div class="flex flex-col gap-7">
        <div>
            <h1 class="font-bold text-3xl text-slate-900">Login</h1>
            <small class="text-grey-500">Don't have an account? <a href="" class="text-green-500">Create
                    here</a></small>
        </div>
        <div class="flex flex-col gap-3">
            <input type="text" class="px-3 py-5 border rounded-lg">
            <input type="password" class="px-3 py-5 border rounded-lg">
            <div class="flex justify-between">
                <div>
                    <input type="checkbox" name="" id="">
                    <span>Remember me</span>
                </div>
                <a href="" class="text-gray-500">Forgot password?</a>
            </div>
        </div>
        <input type="submit" value="Login"
            class="py-3 px-7 bg-slate-900 text-white rounded-lg w-fit cursor-pointer transition-all hover:bg-green-500 hover:-translate-y-2">
    </div>
</div>

{% include 'footer.html'%}
{% endblock content%}