{% load static %}

<div class="border-b border-slate-400 w-full h-8 flex justify-center items-center">
  <div class="flex justify-center sm:justify-between items-center container px-4 text-sm">
    <div>
      <ul class="flex *:border-r gap-2 *:pr-1 *:cursor-pointer text-xs">
        <li>About Us</li>
        <li>My Account</li>
        <li>Wishlist</li>
        <li class="border-none">Order Tracking</li>
      </ul>
    </div>
    <div class="hidden sm:block">
      <p>save up 35% off tody!</p>
    </div>
    <div class="hidden lg:block">
      <ul class="flex gap-2">
        <li>
          Need help? Call Us: <a class="text-green-500" href="">+1800 900</a>
        </li>
        <li>English</li>
        <li>USD</li>
      </ul>
    </div>
  </div>
</div>

<div class="h-fit sm:h-28 w-full border-b border-slate-400 flex justify-center items-center"
  style="background-color: #fefefe">
  <div
    class="flex flex-col gap-5 py-5 sm:py-0 justify-center sm:flex-row sm:justify-between items-center container px-4 text-sm sm:gap-4">
    <div class="block">
      <img src="{% static 'images/nest.jpg' %}" alt="" />
    </div>
    <div class="flex-grow lg:max-w-96">
      <form action="" class="flex justify-between items-center border border-slate-400 px-6 h-8 rounded">
        <input type="text" name="" id="" placeholder="Search for items..."
          class="outline-none caret-slate-400 flex-1 placeholder:text-black" />
        <i class="fa-solid fa-magnifying-glass text-green-400 cursor-pointer"></i>
      </form>
    </div>
    <div class="hidden sm:block">
      <ul class="flex items-center *:flex *:gap-1 *:items-center *:cursor-pointer gap-5">
        <li>
          <i class="fa-regular fa-heart"></i>
          <p class="hover:text-green-500 transition-colors">Wishlist</p>
        </li>
        <li>
          <i class="fa-solid fa-cart-shopping"></i>
          <p class="hover:text-green-500 transition-colors">Cart</p>
        </li>
        <li>
          <i class="fa-regular fa-circle-user"></i>
          <p class="hover:text-green-500 transition-colors">Account</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div
  class="h-16 w-full border-b border-slate-400 flex justify-center items-center sticky top-0 bg-white z-[100] shadow-sm">
  <div class="flex justify-center md:justify-between items-center container px-4 text-sm gap-5 md:gap-0">
    <div
      class="flex text-base items-center gap-2 bg-green-500 p-2 rounded text-white cursor-pointer hover:bg-green-600 transition-colors">
      <i class="fa-solid fa-table"></i>
      <p>Browse All Categories</p>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
    <div
      class="block md:hidden py-1 px-3 rounded bg-gray-400 hover:bg-gray-500 transition-colors text-lg text-white cursor-pointer order-first">
      <i class="fa-solid fa-list"></i>
    </div>
    <div
      class="max-md:fixed max-md:min-h-screen max-md:w-1/4 max-md:bg-white max-md:z-50 -left-full top-0 max-md:shadow ">
      <ul
        class="flex gap-3 max-md:flex-col max-md:pl-8 max-md:pt-10 text-base relative [&>*:where(li)]:p-1 [&>*:where(li)]:cursor-pointer [&>*:where(li)]:transition-colors [&>*:where(li)]:rounded"
        x-data="{pagesShown: false}">
        <li class="flex items-center gap-2 hover:text-green-500">
          <i class="fa-solid fa-fire text-green-700"></i>
          <p>Deals</p>
        </li>
        <li class="hover:text-green-500">Home</li>
        <li class="hover:text-green-500">Shop</li>
        <li class="hover:text-green-500">Vendors</li>
        <li class="hover:text-green-500">Blog</li>
        <li class="flex items-center gap-2 hover:text-green-500" @click="pagesShown = !pagesShown">
          <p>Pages</p>
          <i class="fa-solid fa-chevron-down text-sm"></i>
        </li>
        <ul id="pages-pop"
          class="absolute flex flex-col gap-3 bg-white rounded border shadow-sm px-7 py-4 top-10 -right-8 w-44 *:cursor-pointer text-gray-500"
          x-show="pagesShown" x-transition>
          <li class="hover:text-black transition-colors">About Us</li>
          <li class="hover:text-black transition-colors">My Dashboard</li>
          <li class="hover:text-black transition-colors">Purchase Guide</li>
          <li class="hover:text-black transition-colors">Privacy Policy</li>
          <li class="hover:text-black transition-colors">Terms of Service</li>
        </ul>
        <li class="hover:text-green-500">Contact</li>
      </ul>
    </div>

    <div class="items-center gap-3 mr-8 hidden lg:flex">
      <i class="fa-solid fa-headset text-3xl"></i>
      <div class="flex flex-col">
        <p class="text-green-500 text-lg">1900 - 888</p>
        <p class="text-gray">24/7 Support Center</p>
      </div>
    </div>
  </div>
</div>