<div class=" w-full py-6 border-b border-slate-400 content-center">
    <div class="container flex flex-wrap  gap-7 px-4 sm:pl-24 justify-center sm:justify-normal items-center text-sm ">
        <a href="{% url 'index'%}">
            <div class="text-green-700 flex items-center gap-2">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </div>
        </a>
        <span class="text-green-500">&gt;</span>
        <a href="" class="text-green-600">Shop</a>
        <span class="text-green-500">&gt;</span>
        <span>page name</span>
    </div>
</div>