{% extends 'main.html'%}
{% load static %}

{% block head%}
<title>Shop</title>
{% endblock head %}


{% block content %}
{% include "partials/navbar.html" with chosen="shop" %}

{% include "partials/path.html" with parent_page_name="Shop"%}
<div class="container mx-auto px-4 my-10 xl:max-w-7xl">
    <div class="flex flex-col gap-10">
        <div class="flex gap-10 flex-wrap justify-between *:shadow *:rounded-lg *:border *:py-5 *:px-10 *:grow">
            <div class="flex flex-col gap-3">
                <h2 class="font-bold text-lg">By Categories</h2>
                <div class="flex flex-col gap-4 *:border *:py-1 *:px-5 *:rounded">
                    <div>
                        <input type="checkbox" name="food" id="">
                        <label for="food">Food</label>
                    </div>
                    <div>
                        <input type="checkbox" name="sweet" id="">
                        <label for="sweet">Sweets</label>
                    </div>
                    <div>
                        <input type="checkbox" name="fruit" id="">
                        <label for="fruit">Fresh Fruits</label>
                    </div>
                    <div>
                        <input type="checkbox" name="pet" id="">
                        <label for="pet">Pet Food</label>
                    </div>
                    <div>
                        <input type="checkbox" name="milk" id="">
                        <label for="milks">Milks & Dairies</label>
                    </div>
                    <div>
                        <input type="checkbox" name="bake" id="">
                        <label for="bake">Baking Material</label>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <h2 class="font-bold text-lg">By Vendors</h2>
                <div class="flex flex-col gap-4 *:py-1">
                    <div>
                        <input type="checkbox" name="nestify" id="">
                        <label for="food">Nestify</label>
                    </div>
                    <div>
                        <input type="checkbox" name="xfood" id="">
                        <label for="xfood">XFood</label>
                    </div>
                    <div>
                        <input type="checkbox" name="nature" id="">
                        <label for="nature">Nature Foods</label>
                    </div>
                    <div>
                        <input type="checkbox" name="nest" id="">
                        <label for="nest">NestFood</label>
                    </div>
                    <div>
                        <input type="checkbox" name="roots" id="">
                        <label for="roots">Healthy Roots</label>
                    </div>
                    <div>
                        <input type="checkbox" name="dest" id="">
                        <label for="dest">DestFood</label>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <h2 class="font-bold text-lg">Popular Tags</h2>
                <div class="flex flex-col gap-5 *:border *:py-1 *:px-5 *:rounded-xl *:shadow *:w-fit text-sm">
                    <a href="" class="text-green-600 hover:-translate-y-1 transition-transform">chicken</a>
                    <a href="" class="text-green-600 hover:-translate-y-1 transition-transform">burger</a>
                    <a href="" class="text-green-600 hover:-translate-y-1 transition-transform">vanilla</a>
                    <a href="" class="text-green-600 hover:-translate-y-1 transition-transform">cakes</a>
                    <a href="" class="text-green-600 hover:-translate-y-1 transition-transform">milkshake</a>
                    <a href="" class="text-green-600 hover:-translate-y-1 transition-transform">chocolate</a>

                </div>
            </div>
            <div class="max-w-80 flex flex-col gap-3">
                <h2 class="font-bold text-lg">By Price</h2>
                <div class="flex flex-col gap-2">
                    <div class="h-2 w-full bg-green-500 rounded"></div>
                    <div class="flex justify-between text-gray-500">
                        <small>From: <span class="text-green-500">$10.23</span></small><small>To:
                            <span class="text-green-500">$777.00</span></small>
                    </div>
                    <input type="number" class="w-full rounded border h-12 px-3 shadow" value="10.90">
                    <button
                        class="w-full text-center text-white bg-green-600 mt-5 rounded py-2 shadow-sm hover:bg-amber-500 transition-colors">Filter</button>
                </div>
            </div>
        </div>
        <div class="rounded-lg flex flex-col gap-y-4">
            <div class="flex justify-between items-center w-full relative">
                <h3 class="text-lg">There are 10 products available!</h3>
                <div>

                </div>
                <div
                    class="md:hidden cursor-pointer bg-gray-700 hover:bg-gray-800 transition-colors text-white py-1 px-2 shadow rounded">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </div>
            <div class="grid max-[430px]:grid-cols-2 grid-cols-4 md:grid-cols-6 lg:grid-cols-8 xl:grid-cols-10 gap-3">
                {% static 'images/cake.jpg' as product_image%}
                {% include 'partials/product-partial.html'%}
                <div class="border rounded-md flex flex-col gap-1 relative px-2 py-2 col-span-2">
                    <span class="absolute"></span>
                    <div class="w-full border h-56 bg-cover bg-left bg-no-repeat rounded-lg" style="
                    background-image: url(../static/images/spatchcock-bbq-chicken.jpg);">
                        <!-- <img src="{% static 'images/cake.jpg'%}" alt="" class="w-full"> -->
                    </div>
                    <small class="text-gray-500 text-xs">Food</small>
                    <strong class="font-bold">Spatchcock BBQ Chicken</strong>
                    <span><i class="fa-solid fa-star text-yellow-500 mr-1"></i>(0)</span>
                    <p class="text-sm">By <a href="" class="text-green-500">XFOOD</a></p>
                    <div class="flex justify-between items-center mt-3">
                        <span class="text-green-600 font-bold">$ 10.93</span>
                        <div class="flex items-center gap-2">
                            <div class="bg-green-200 px-2 py-1 rounded">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <button class="">Add</button>
                            </div>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    <small class="line-through text-gray-500 text-sm ml-2">$20.99</small>
                </div>
                <div class="border rounded-md flex flex-col gap-1 relative px-2 py-2 col-span-2">
                    <span class="absolute"></span>
                    <div class="w-full border h-56 bg-cover bg-left bg-no-repeat rounded-lg" style="
                    background-image: url(../static/images/grilled-bbq-chicken.jpg);
                    ">
                        <!-- <img src="{% static 'images/cake.jpg'%}" alt="" class="w-full"> -->
                    </div>
                    <small class="text-gray-500 text-xs">Food</small>
                    <strong class="font-bold">Home-made BBQ Grilled Chicken</strong>
                    <span><i class="fa-solid fa-star text-yellow-500 mr-1"></i>(0)</span>
                    <p class="text-sm">
                        By <a href="" class="text-green-500">Nestify</a>
                    </p>
                    <div class="flex justify-between items-center mt-3">
                        <span class="text-green-600 font-bold">$ 10.93</span>
                        <div class="flex items-center gap-2">
                            <div class="bg-green-200 px-2 py-1 rounded">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <button class="">Add</button>
                            </div>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    <small class="line-through text-gray-500 text-sm ml-2">$20.99</small>
                </div>
                <div class="border rounded-md flex flex-col gap-1 relative px-2 py-2 col-span-2">
                    <span class="absolute"></span>
                    <div class="w-full border h-56 bg-cover bg-center bg-no-repeat rounded-lg" style="
                    background-image: url(../static/images/double-bief-fried-chicken-bacon.jpg);
                    ">
                        <!-- <img src="{% static 'images/cake.jpg'%}" alt="" class="w-full"> -->
                    </div>
                    <small class="text-gray-500 text-xs">Food</small>
                    <strong class="font-bold">Double Bief Fried Chicken Bacon</strong>
                    <span><i class="fa-solid fa-star text-yellow-500 mr-1"></i>(0)</span>
                    <p class="text-sm">
                        By <a href="" class="text-green-500">Nestify</a>
                    </p>
                    <div class="flex justify-between items-center mt-3">
                        <span class="text-green-600 font-bold">$ 10.93</span>
                        <div class="flex items-center gap-2">
                            <div class="bg-green-200 px-2 py-1 rounded">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <button class="">Add</button>
                            </div>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    <small class="line-through text-gray-500 text-sm ml-2">$20.99</small>
                </div>
                <div class="border rounded-md flex flex-col gap-1 relative px-2 py-2 col-span-2">
                    <span class="absolute"></span>
                    <div class="w-full border h-56 bg-cover bg-left bg-no-repeat rounded-lg" style="
                    background-image: url(../static/images/spatchcock-bbq-chicken.jpg);
                    ">
                    </div>
                    <small class="text-gray-500 text-xs">Food</small>
                    <strong class="font-bold">Spatchcock BBQ Chicken</strong>
                    <span><i class="fa-solid fa-star text-yellow-500 mr-1"></i>(0)</span>
                    <p class="text-sm">By <a href="" class="text-green-500">XFOOD</a></p>
                    <div class="flex justify-between items-center mt-3">
                        <span class="text-green-600 font-bold">$ 10.93</span>
                        <div class="flex items-center gap-2">
                            <div class="bg-green-200 px-2 py-1 rounded">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <button class="">Add</button>
                            </div>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    <small class="line-through text-gray-500 text-sm ml-2">$20.99</small>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/footer.html'%}

{% endblock content %}