{% extends 'main.html'%}
{% load static %}

{% block head%}
<title>Nest | Terms of Service</title>
{% endblock head%}


{% block content %}
{% include "partials/navbar.html"%}
{% url 'terms-of-service' as parent_page_url %}
{% include 'partials/path.html' with parent_page_name="Terms of Service" parent_page_url=parent_page_url %}


<div class="container mx-auto my-10 px-4 xl:max-w-7xl">
    <div class="space-y-5">
        <h1 class="font-bold text-4xl">Terms of Service</h1>
        <p class="text-gray-500">By Osama . 12 May 2024 . 3 mins read . 29k views</p>
        <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms.
            Theses Terms apply to all visitors, users and others who access or use the Service.</p>
        <p>By accessing or using the Service you agree ti be bound by these Terms. If you disagess with any part of the
            terms than you may not access the Service</p>
        <div>
            <h2 class="font-semibold text-2xl">Rights & restrictions</h2>
            <br>
            <ul class="list-decimal list-inside space-y-3">
                <li>Members must be at least 18 years old.</li>
                <li>Members are granted a time-limited, non-exclusive, revocable, nontransferable, and non-sublincesable
                    right to accrss that portion of the online course corresponding to the purchase.</li>
                <li>All guests should be treated equally, regardless of race, gender, or other factors.</li>
                <li>Ensure that guests' personal information (such as names, contact details, and payment information)
                    is
                    handled securely and not shared with third parties.</li>
            </ul>
        </div>
    </div>
</div>

{% include 'partials/footer.html'%}
{% endblock content %}