{% extends 'main.html' %}
{% load static %}

{% block head%}
<title>Nest | My Wishlist</title>
{% endblock head%}


{% block content %}
{% include 'partials/navbar.html' with chosen='shop' %}
{% url 'shop' as parent_page_url %}
{% include 'partials/path.html' with parent_page_name="Shop" page_name="Wishlist" parent_page_url=parent_page_url %}

<div class="container mx-auto px-4 my-10 xl:max-w-7xl" x-data="{removePopShown : false, removeText: ''}">
    <div class="flex flex-col gap-5">
        <div class="space-y-2">
            <h1 class="font-bold text-4xl">My Wishlist</h1>
            <div class="flex justify-between">
                <p class="grow">There are 10 products.</p>
                <small class="text-gray-500 text-sm cursor-pointer" x-on:click="removePopShown = true;removeText = 'all the products from the wishlist' "><i class="fa-regular fa-trash-can mr-3"></i><span>Clear
                        Cart</span></small>
            </div>
        </div>
        <div class="overflow-x-auto pb-3 border rounded-t-lg">
            <table class="rounded-lg min-w-[648px] sm:min-w-full h-fit text-center">
                <thead class="bg-gray-50">
                    <tr class="*:py-3 *:font-medium *:tracking-wider text-gray-500">
                        <th class="!w-24 ">Product</h3>
                        <th></h3>
                        <th>Price</h3>
                        <th>Stock status</h3>
                        <th>Action</h3>
                        <th>Remove</h3>
                    </tr>
                </thead>
                <tbody>
                    <tr class="*:pb-2 *:first:pt-3" x-data="{addedToCart : false}">
                        <td class="pl-2">
                            <img src="{% static 'images/juice.jpg'%}" alt="" class="rounded-lg object-cover h-24">
                        </td>
                        <td>Orange Juice</td>
                        <td class="text-2xl font-semibold text-green-500">$35.99</td>
                        <td>
                            <div class="size-full flex justify-center items-center">
                                <p class="w-fit p-1 text-green-500 bg-green-50 rounded-lg">In Stock</p>
                            </div>
                        </td>

                        <td>
                            <div class="w-full"><div x-text="addedToCart ? 'Added' : 'Add to cart' " 
                            x-bind:class="addedToCart ? 'w-full p-1 text-green-500 bg-green-50 rounded-lg' : 'w-full cursor-pointer bg-green-500 px-5 py-2 text-white hover:bg-amber-400 transition-colors rounded-lg' "
                            x-on:click="addedToCart = true" x-transition>Add to cart</div></div></td>
                        <td><div class="cursor-pointer" x-on:click="removePopShown = true; removeText = 'this product' "><i class="fa-regular fa-trash-can"></i></div></td>
                    </tr>
                </tbody>
            </table>

            <!-- flowbite element - Popup -->
            <div id="remove-pop" 
            class=" fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[150] flex justify-center items-center w-full"
            x-show="removePopShown">
                <div class="relative p-4 w-full max-w-md max-h-full" x-on:click.outside="removePopShown = false">
                    <div class="relative bg-white rounded-lg shadow ">
                        <button type="button"
                            class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                            x-on:click="removePopShown = false">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                        <div class="p-4 md:p-5 text-center">
                            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <h3 class="mb-5 text-lg font-normal text-gray-500" x-text="`Are you sure you want to delete ${removeText}? `"></h3>
                            <button type="button"
                                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                                x-on:click="removePopShown = false">
                                Yes, I'm sure
                            </button>
                            <button type="button"
                                class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
                                x-on:click="removePopShown = false">No,
                                cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end flowbite element -->
            <div id="theme" class="inset-0 bg-slate-200/75 fixed z-[110]" x-show="removePopShown" x-transition></div>
        </div>
    </div>
</div>


{% include 'partials/footer.html'%}

{% endblock content %}