{% extends 'main.html'%}
{% load static %}
{% load mytags %}

{% block head %}
<title>Product</title>
{% endblock head %}

{% block content %}
{% include 'partials/navbar.html'%}
{% url 'products:category' product.category as parent_page_url %}
{% include 'partials/path.html' with parent_page_name=product.get_category_display page_name=product.name parent_page_url=parent_page_url%}

<div id="product" class="grid grid-cols-12 gap-4 container mx-auto my-5 px-4 max-w-[1270px]"  
    data-create-or-remove-cart-item-url="{% url 'api:create-or-remove-cart-item' product.pk %}" data-create-or-remove-wishlist-item-url="{% url 'api:create-or-remove-wishlist-item' product.pk %}"
    x-data="{currentImage: { 'url': '{{product.get_display_image}}', 
            downloadUrl: '{{product.get_download_url}}' },
             ratingVendorShown: false,
             userLoggedPopShown: false,
             userLogged: {% if requset.user.is_authenticated %} true {% else %} false {% endif %}, 

            }"> 
    <div class="space-y-10 sm:space-y-0 sm:grid grid-cols-12 gap-10 col-span-full lg:col-span-8 xl:col-span-9 h-fit"> 
        <div class="sm:col-span-6 flex flex-col gap-5 w-4/6 mx-auto sm:w-auto sm:mx-0 max-[420px]:w-full">
            <div class="h-96 rounded-xl border-2" >
                <img x-bind:src="currentImage.url" alt=""
                    class="rounded-lg size-full object-cover" x-transition>
            </div>
            {% if product.get_attachments %}
            <div class="flex justify-around gap-1 *:rounded-lg *:border h-24 *:cursor-pointer *:w-20">
                {% for attachment in product.get_attachments %}
                <div class="hover:opacity-80 transition-opacity" x-data="{thisImage: {'url': '{{attachment.image.url}}' , 'downloadUrl': '{{attachment.get_download_url}}' } }"
                    x-on:click="tmp=currentImage; currentImage = thisImage; thisImage=tmp">
                    <img x-bind:src="thisImage.url" alt="" class="size-full rounded-lg object-cover" x-transition>
                </div>
                {% endfor%}        
            </div>
            {% endif %}
        </div>
        <div class="flex flex-col gap-5 border rounded-lg p-3 sm:p-0 sm:border-none sm:col-span-6 xl:pr-24">
            {% if product.discount %}
                <small class="bg-red-200 text-red-500 py-1 px-3 text-sm w-fit rounded-md">-{{product.discount}}%</small>
            {% endif%}
            <div>
                <p class="font-bold text-3xl">{{product.name}}</p>
                <small>{{product.get_category_display}}</small>
            </div>
            <div class="text-sm flex gap-1 items-center">
                <div class="flex gap-1">
                    <i class="fa-solid fa-star text-yellow-500"></i>
                    <i class="fa-solid fa-star text-yellow-500"></i>
                    <i class="fa-solid fa-star text-yellow-500"></i>
                    <i class="fa-solid fa-star text-yellow-500"></i>
                    <i class="fa-solid fa-star text-yellow-500"></i>
                </div>
                <span class="text-gray-500">reviews({{product.get_total_reviews}})</span>
            </div>
            <div class="flex gap-1 items-center">
                <div class="text-green-600 font-bold text-5xl">{{product.get_new_price}}</div>
                {% if product.discount %}
                    <div class="flex flex-col items-center">
                        <small class="text-sm text-yellow-500">-{{product.discount}}% off</small>
                        <span class="line-through text-gray-500 text-lg pl-3">{{product.price}}</span>
                    </div>
                {% endif %}
            </div>
            <p class="text-gray-800">This is the product.</p>
            <div class="flex flex-col gap-2">
                <div class="flex gap-2 items-center">
                    <div id="create-or-remove-cart-item-btn"
                        class="bg-green-500 text-white py-2 px-5 rounded-lg hover:bg-amber-400 transition-colors cursor-pointer"
                        x-data="{addedToCart: {% if product.added_to_cart %} true {% else %} false {% endif %} }" x-on:click="userLogged ? addedToCart = !addedToCart : userLoggedPopShown = true">
                        <div x-show="!addedToCart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <button>Add To Cart</button>
                        </div>
                        <div x-show="addedToCart" class="hidden" x-bind:class="{'hidden': !addedToCart, 'block': addedToCart}">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <button>Remove from Cart</button>
                        </div>
                    </div>
                    <div id="create-or-remove-wishlist-item-btn" class="rounded-lg py-2 bg-green-500 text-white px-3 cursor-pointer" 
                    x-data="{heartHovered: false, heartClicked: {% if product.added_to_wishlist %} true {% else %} false {% endif %} }"
                        x-on:mouseover="heartHovered = true" x-on:mouseleave="heartHovered = false"
                        x-on:click="userLogged ? heartClicked = !heartClicked : userLoggedPopShown = true">
                        <i class="fa-regular fa-heart" x-show="!(heartHovered || heartClicked)" x-transition:enter></i>
                        <i class="fa-solid fa-heart text-red-400 hidden" x-show="heartHovered || heartClicked"></i>
                    </div>
                </div>
            </div>
            
            <div class="flex text-sm justify-between mt-auto">
                <div>
                    <p>Type: <a class="text-green-500" href="{% url 'products:category' product.category %}">{{product.category}}</a></p>
                    <p>LIFE: <span class="text-green-500">{{product.life}} day{{ product.life|pluralize:'s' }}</span></p>
                </div>
                <div>
                    <p>STOCK: <span class="text-green-500">{{product.stock}} item{{ product.stock|pluralize:"s" }}</span></p>
                    <p class="text-green-500 underline"><a x-bind:href="currentImage.downloadUrl">Download</a></p>
                </div>
            </div>
        </div>
        <div class="p-7 flex flex-col gap-8 col-span-full rounded-xl border" x-data="{openedIndex: 0}">
            <div class="flex gap-3 *:p-2 *:border *:rounded-xl flex-wrap font-medium">
                <h3 class="hover:text-green-500 hover:-translate-y-1 transition-all cursor-pointer"
                    @click="openedIndex = 0" x-bind:class="openedIndex == 0 && 'text-green-500' ">Description</h3>
                <h3 class="hover:text-green-500 hover:-translate-y-1 transition-all cursor-pointer"
                    @click="openedIndex = 1" x-bind:class="openedIndex == 1 && 'text-green-500' ">Additional info</h3>
                <h3 class="hover:text-green-500 hover:-translate-y-1 transition-all cursor-pointer"
                    @click="openedIndex = 2" x-bind:class="openedIndex == 2 && 'text-green-500' ">Vendor</h3>
                <h3 class="hover:text-green-500 hover:-translate-y-1 transition-all cursor-pointer"
                    @click="openedIndex = 3" x-bind:class="openedIndex == 3 && 'text-green-500' ">Reviews({{product.get_total_reviews}})</h3>
            </div>
            <div>
                <div x-show="openedIndex == 0" x-transition:enter x-transition:enter.duration.500ms>
                    <p>This is the product.</p>
                </div>
                <div x-show="openedIndex == 1" x-transition:enter x-transition:enter.duration.500ms>
                    <p>There are no additional info.</p>
                </div>
                <div class="flex-col gap-1" x-show="openedIndex == 2" x-transition:enter
                    x-transition:enter.duration.500ms>
                    <h1 class="font-bold text-black text-2xl ">Vendor</h1>
                    <div class="flex h-36 gap-2 w-fit items-center self-center">
                        <div class="rounded-full w-fit h-fit overflow-hidden mt-10 border hover:shadow-md transition-all">
                            <a href="{{product.vendor.get_absolute_url}}">
                                <img src="{{product.vendor.image.url}}" alt="" class="object-cover size-32">
                            </a>
                        </div>
                        <div class="flex flex-col gap-2">
                            <a href="{{product.vendor.get_absolute_url }}" class="text-green-500">{{product.vendor.name}}</a>
                            <div class="flex gap-1 pl-5">
                                {% for star in ''|center:product.vendor.get_stars_number %}
                                <i class="fa-solid fa-star text-yellow-500"></i>
                                {% endfor %}
                                {% with 5|subtract:product.vendor.get_stars_number as value %}
                                    {% for star in ''|center:value %}
                                    <i class="fa-solid fa-star text-gray-400"></i>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            <span class="text-gray-500 pl-12">reviews({{product.vendor.ratings.count}})</span>
                        </div>
                    </div>
                    <div class="mt-16">
                        <p>Rating The Vendor?  <button class="text-green-500" x-on:click="userLogged ? ratingVendorShown = true : userLoggedPopShown = true">Rate Now</button></p>
                        <br><br>
                        <p class="flex gap-3 items-center">
                            <i class="fa-solid fa-location-dot text-green-700"></i>
                            <span>Address: {{product.vendor.address}}</span>
                        </p>
                        <p class="flex gap-2 items-center">
                            <i class="fa-solid fa-headset text-green-700"></i>
                            <span>Contact Seller: {{product.vendor.phone_number}}</span>
                        </p>
                    </div>
                    <hr class="border-gray-400 mt-5">
                    <div class="flex gap-2 justify-between mt-5 xl:w-4/6 xl:mx-auto">
                        <div class="flex flex-col gap-2 items-center">
                            <small class="text-green-600">Rating</small>
                            <strong class="font-bold text-3xl">{{product.vendor.get_products_quality_rating_percentage}}%</strong>
                        </div>
                        <div class="flex flex-col gap-2 items-center">
                            <small class="text-green-600">Ship on time</small>
                            <strong class="font-bold text-3xl">{{product.vendor.get_chat_rating_percentage}}%</strong>
                        </div>
                        <div class="flex flex-col gap-2 items-center">
                            <small class="text-green-600">Chat response</small>
                            <strong class="font-bold text-3xl">{{product.vendor.get_ship_rating_percentage}}%</strong>
                        </div>
                    </div>
                </div>
                <div class="flex gap-x-3 gap-y-10 flex-col xl:flex-row" x-show="openedIndex == 3" x-transition:enter
                    x-transition:enter.duration.500ms>
                    <div class="flex flex-col gap-5 xl:w-7/12">
                        
                        <div>
                            <h3 class="font-medium">Customer Quastions & answers</h3>
                            <div class="flex flex-col gap-2">
                                <div class="flex flex-col gap-2 *:rounded *:border *:p-2">
                                        {% for review in reviews %}
                                        <div>
                                            <small>{% if review.owner %} 
                                                {{review.owner.user.username}}
                                                {% else %}
                                                Anonymos
                                                {% endif %}
                                            </small>
                                            <p>{{review.body|linebreaks}}</p>
                                        </div>
                                        {% endfor %}                                     
                                </div>
                            </div>
                        </div>
                        {% if could_review is False %}
                        <p class="text-green-500">You reviewed this product before.</p>
                        {% elif request.user.is_authenticated %}
                        <form id="create-review-form" data-create-review-url="{% url 'api:create-review' product.handle %}">
                            
                            <div id="add-review" class="grow flex flex-col gap-2">
                                
                                <h3 class="font-medium">Add a Review</h3>
                                <textarea name="body" id="body" class="rounded-lg border p-2 w-full h-40" ></textarea>
                                <select name="rating" id="" class="font-[FontAwesome] p-3 rounded-lg border w-fit">
                                    <option value="1">
                                        &#xf005;

                                    </option>
                                    <option value="2">
                                        &#xf005;
                                        &#xf005;
                                    </option>
                                    <option value="3">
                                        &#xf005;
                                        &#xf005;
                                        &#xf005;
                                    </option>
                                    <option value="4">
                                        &#xf005;
                                        &#xf005;
                                        &#xf005;
                                        &#xf005;
                                    </option>
                                    <option value="5">
                                        &#xf005;
                                        &#xf005;
                                        &#xf005;
                                        &#xf005;
                                        &#xf005;
                                    </option>
                                </select>
                                <div class="w-full">
                                    <button class="p-2 bg-green-500 text-white rounded-lg hover:bg-amber-400 transition-colors">
                                        Submit Review</button>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <p class="text-gray-500">* You have to <a href="{% url 'users:login-user' %}" class="text-green-500 hover:underline">login</a> to be able to review.</p>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-3 xl:w-5/12 " x-data="{get_stars_percentage: {{product.get_stars_percentage}} }">
                        <div class="font-medium">
                            <h3>Customer Quastions & answers</h3>
                            <small>out of 5.0</small>
                        </div>
                        <div class="flex flex-col gap-3 *:flex *:gap-3" x-data="{get_stars_percentage: {{product.get_stars_percentage}} }">
                            <div>
                                <span>5 star</span>
                                <div class="grow bg-slate-300 rounded-lg before:bg-yellow-400 before:h-full before:rounded-lg before:block overflow-hidden " 
                                x-bind:class=" `before:w-${get_stars_percentage.five}/5`" >
                                </div>
                            </div>
                            <div>
                                <span>4 star</span>
                                <div class="grow bg-slate-300 rounded-lg before:bg-yellow-400 before:h-full before:rounded-lg before:block overflow-hidden "
                                x-bind:class=" `before:w-${get_stars_percentage.four}/5` ">
                                </div>
                            </div>
                            <div>
                                <span>3 star</span>
                                <div class="grow bg-slate-300 rounded-lg before:bg-yellow-400 before:h-full before:rounded-lg before:block overflow-hidden "
                                x-bind:class=" `before:w-${get_stars_percentage.three}/5` ">
                                </div>
                            </div>
                            <div>
                                <span>2 star</span>
                                <div class="grow bg-slate-300 rounded-lg before:bg-yellow-400 before:h-full before:rounded-lg before:block overflow-hidden "
                                x-bind:class=" `before:w-${get_stars_percentage.two}/5` ">
                                </div>
                            </div>
                            <div>
                                <span>1 star</span>
                                <div class="grow bg-slate-300 rounded-lg before:bg-yellow-400 before:h-full before:rounded-lg before:block overflow-hidden "
                                x-bind:class=" `before:w-${get_stars_percentage.one}/5` ">
                                </div>
                            </div>
                        </div>
                        <p class="text-gray-500">Here are the ratings calculated</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-y-5 col-span-full ">
            <div class="rounded-lg col-span-full flex flex-col gap-y-4">
                <h1 class="text-3xl max-[360px]:text-xl">Related Products</h1>
                <hr class="border">
                <div class="grid max-[430px]:grid-cols-2 grid-cols-4 md:grid-cols-6 lg:grid-cols-8 xl:grid-cols-10 gap-3">
                    {% for current_product in related_products %}
                        {% include 'partials/product-partial.html' with product=current_product %}
                        {% empty %}
                        <p class="col-span-full">There are no related products with category <span class="text-green-500">"{{product.get_category_display}}"</span>, we hpe to see more in the future. </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="sticky top-20 col-span-full lg:col-span-4 xl:col-span-3 h-fit flex flex-col sm:flex-row lg:flex-col items-center justify-between gap-x-10 gap-y-5 max-w-[730px] mx-auto">
        <div class="rounded-lg shadow-md border flex flex-col gap-1 col-span-full p-3 pb-10 px-5 bg-slate-200 h-fit">
            <h1 class="font-bold text-black text-2xl">Delivery</h1>
            <p class="text-green-400"><i class="fa-solid fa-location-dot"></i></p>
            <p class="flex justify-between mt-5" x-data="{address : '{{ request.user.profile.address }}' }">
                <span :class="!address && 'text-red-500'" x-text="address ? `${address}` : 'unverifed location'">
                </span><a href="{% url 'services:dashboard' %}" class="text-green-600">Change</a></p>
            <hr class="border-gray-400 mt-5">
            <h1 class="font-bold text-black text-2xl my-3">Return & Warranty</h1>
            <p class="flex gap-1 items-center"><i class="fa-solid fa-shield-heart text-green-700"></i><span>100 Days
                    Authentic</span></p>
            <p class="flex gap-1 items-center"><i class="fa-solid fa-rotate-left text-green-700"></i><span>100 Days
                    Return</span></p>
            <p class="flex gap-1 items-center"><i class="fa-solid fa-medal text-green-700"></i><span>100 Months
                    Warranty</span></p>
        </div>
        <div class="rounded-lg shadow-md border flex flex-col gap-1 col-span-full p-3 pb-10 px-5 bg-slate-200 h-fit">
            <h1 class="font-bold text-black text-2xl ">Vendor</h1>
            <div class="flex h-36 gap-2 w-fit items-center self-center">
                <div class="rounded-full w-fit h-fit overflow-hidden mt-10 border hover:shadow-md transition-all">
                    <a href="{{product.vendor.get_absolute_url}}">
                        <img src="{{product.vendor.image.url}}" alt="" class="object-cover size-32">
                    </a>
                </div>
                <div class="flex flex-col gap-2">
                    <a href="{{product.vendor.get_absolute_url}}" class="text-green-500">{{product.vendor.name}}</a>
                    <div class="flex gap-1 pl-5">
                        {% for star in ''|center:product.vendor.get_stars_number %}
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        {% endfor %}
                        {% with 5|subtract:product.vendor.get_stars_number as value %}
                            {% for star in ''|center:value %}
                            <i class="fa-solid fa-star text-gray-400"></i>
                            {% endfor %}
                        {% endwith %}
                    </div>
                    <span class="text-gray-500 pl-12">reviews({{product.vendor.ratings.count}})</span>
                </div>
            </div>
            <div class="mt-16">
                <p class="flex gap-3 items-center">
                    <i class="fa-solid fa-location-dot text-green-700"></i>
                    <span>Address: {{product.vendor.address}}</span>
                    </p>
                <p class="flex gap-2 items-center">
                    <i class="fa-solid fa-headset text-green-700"></i>
                    <span>Contact Seller: {{product.vendor.phone_number}}</span>
                    </p>
            </div>
            <hr class="border-gray-400 mt-5">
            <div class="flex gap-2 justify-between mt-5">
                <div class="flex flex-col gap-2 items-center">
                    <small class="text-green-600">Rating</small>
                    <strong class="font-bold text-3xl">{{product.vendor.get_products_quality_rating_percentage}}%</strong>
                </div>
                <div class="flex flex-col gap-2 items-center">
                    <small class="text-green-600">Ship on time</small>
                    <strong class="font-bold text-3xl">{{product.vendor.get_chat_rating_percentage}}%</strong>
                </div>
                <div class="flex flex-col gap-2 items-center">
                    <small class="text-green-600">Chat reponse</small>
                    <strong class="font-bold text-3xl">{{product.vendor.get_ship_rating_percentage}}%</strong>
                </div>
            </div>
            <hr class="border-gray-400 mt-5">
            <p class="mt-5">Rating The Vendor?  <button class="text-green-600" x-on:click="userLogged ? ratingVendorShown = true : userLoggedPopShown = true">Rate Now</button></p>
        </div>
    </div>
    <!-- flowbite element -->
    <div id="logging-pop-up"
        class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[150] justify-center items-center"
        x-bind:class="{'hidden': !userLoggedPopShown, 'block': userLoggedPopShown}" x-show="userLoggedPopShown"
        x-on:click.outside="userLoggedPopShown = false">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">
                        Logging Required
                    </h3>
                    <button type="button" x-on:click="userLoggedPopShown = false"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <p class="text-lg leading-relaxed text-gray-500 dark:text-gray-400">
                        You have to <a href="{% url 'users:login-user' %}" class="text-green-500">login</a> to add to the cart and the wishlist, You're Welcome!
                    </p>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
    
                    <button type="button" x-on:click="userLoggedPopShown = false"
                        class="py-2.5 px-5 ms-3 text-sm font-medium focus:outline-none transition-colors rounded-lg border bg-green-500 text-white hover:bg-green-600 focus:z-10 focus:ring-4 focus:ring-gray-100">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end element -->

    <!-- flowbite element -->
    <div id="rating-vendor-pop" class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[160] hidden justify-center items-center w-full"
        x-show="ratingVendorShown" x-bind:class="{'hidden': !ratingVendorShown, 'flex': ratingVendorShown }" 
        x-on:click.outside="ratingVendorShown = false" x-transition:enter="transition ease-out duration-300 ">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                    <h3 class="text-xl font-semibold text-gray-900">
                        Rating <span class="text-green-500">"{{product.vendor.name}}"</span>
                    </h3>
                    <button class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                        x-on:click="ratingVendorShown = false">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5">
                    <form class="space-y-4" method="POST" action="{% url 'vendors:vendor-rating' product.vendor.handle %}">
                        {% csrf_token %}
                        <div>
                            <label for="ship_rating" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Ship Speedness</label>
                            <select name="ship_rating" id="ship_rating"
                                class="font-[FontAwesome] p-3 rounded-lg border w-fit">
                                <option value="1">
                                    &#xf005;
    
                                </option>
                                <option value="2">
                                    &#xf005;
                                    &#xf005;
                                </option>
                                <option value="3">
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                </option>
                                <option value="4">
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                </option>
                                <option value="5">
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                </option>
                            </select>
                        </div>
                        <div>
                            <label for="chat_rating" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Chat Response</label>
                            <select name="chat_rating" id="chat_rating"
                                class="font-[FontAwesome] p-3 rounded-lg border w-fit">
                                <option value="1">
                                    &#xf005;
    
                                </option>
                                <option value="2">
                                    &#xf005;
                                    &#xf005;
                                </option>
                                <option value="3">
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                </option>
                                <option value="4">
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                </option>
                                <option value="5">
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                </option>
                            </select>
                        </div>
                        <div>
                            <label for="products_quality_rating"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Products Quality</label>
                            <select name="products_quality_rating" id="products_quality_rating"
                                class="font-[FontAwesome] p-3 rounded-lg border w-fit">
                                <option value="1">
                                    &#xf005;
    
                                </option>
                                <option value="2">
                                    &#xf005;
                                    &#xf005;
                                </option>
                                <option value="3">
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                </option>
                                <option value="4">
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                </option>
                                <option value="5">
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                    &#xf005;
                                </option>
                            </select>
                        </div>
                        <button type="submit" x-on:click="ratingVendorShown = false"
                            class="w-full text-white bg-green-500 hover:bg-amber-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-colors">
                            Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end element -->
    <div x-show="ratingVendorShown || userLoggedPopShown" id="theme" class="z-[100] hidden fixed inset-0 bg-slate-200/75" 
        x-transition x-bind:class="{'hidden': !ratingVendorShown && !userLoggedPopShown}"></div>
</div>






{% include 'partials/footer.html'%}
<script src="{% static 'js/standards.js' %}"></script>
<script src="{% static 'js/product_api.js' %}"></script>
{% endblock content %}